[Unit]
Description=Lora Packet Forwarder
After=syslog.target
After=network.target

[Service]
#Type=simple
#WorkingDirectory=/home/pi/LoraSimpleMQTT/
#ExecStart=/home/pi/LoraSimpleMQTT/LoraSimpleMQTT 
#Restart=on-failure
#RestartSec=5
ExecStart=/home/pi/LoraSimpleMQTT/LoraSimpleMQTT
Restart=always
RestartSec=5
TimeoutSec=5min
Type=forking
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target